:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --white-color: #ffffff;
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #2f303a;
    --button-bg-color: #f5f4fa;
    --social-icon: #afb1b8;
}